body {
    font-size: 15px;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    color: $dark-light;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 2.7rem;
    border-left: 8px solid $secondary;
    line-height: 0.73;
    padding-left: 10px;
}

h2 {
    font-size: 1.2rem ;
    font-weight: bold;
    color: $primary;
}

h2, h4 {
    color: $dark-light;
    border-left: 4px solid $secondary;
    line-height: 0.85;
    padding-left: 10px;
    font-weight: 700;
}

.separador {
    border-bottom: 1px solid $gris-med;
    margin: 3.2em 0rem;
}

.st0{
    fill: $dark;
}

.st1{
    fill:none;
    stroke: $secondary;
    stroke-width:17.2795;
    stroke-miterlimit:10;
}

body.dark {

    h2, h4 {
        color: $white;
    }
}

@media(max-width:650px) {

    h1 {
        font-size: 1.7rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 1rem;
    }
}
