body {
    font-size: 16px;
    overflow-x: hidden;
    height: 100vh;
}


h2 {
    font-size: 1.2rem ;
    font-weight: bold;
    color: $primary;
}

.st0{
    fill: $dark;
}

.st1{
    fill:none;
    stroke: $secondary;
    stroke-width:17.2795;
    stroke-miterlimit:10;
}


body.dark {

    h2 {
        color: $white;
    }
}
