// Modo oscuro
body.dark{
    background-color: $dark-light;

    .main-container   {
        background-color: $dark-light;

        nav {
            background-color: $dark;

            .navbar-brand {

                .st0{
                    fill: $light;
                }
            }

            a {
                color: darken( $light,  30);

                &:hover {
                    color: $white;
                }
            }

            .buscador-navbar  {
                
                input {
                    border-color: $dark-light;


                    &:focus-within button {
                        border-color: $dark-light;
                    }

                    &:focus {
                        box-shadow: unset;
                        border: 1px solid $dark-light ;
                        border-right: 0;
                    }
                }

                button {
                    background-color: $light;
                    border-color: $dark-light;
                }

            }
        }

        aside {
            background-color: $dark ;
            color: $light;

            .control-volumen{
                color: $light;
            }
        }

        .menu-lateral {

            a {
                color: darken($light, 30);
            }
        }

        .main-perfil-artista {
            background-color: $dark-light;

            .container-banner-artista {

                &::before {
                    background-color: $dark-med;
                }
            }

            .titulo-seccion {
                color: $light;
            }

            .albumes {
                background-color: $dark-light;

                .album {
                    color: $light;

                    a {
                        color: $light;
                    }
                }


                &::before {
                    background-color: $dark-med;

                }
            }

            .reproductor-album, .container-lista-reproduccion {
                background-color: $dark-light;
                color: $light;

                &::before {
                    background-color: $dark-med;
                }
            }

            .lista-reproduccion {
                background-color: $dark-light;
                color: $light;

                &::-webkit-scrollbar {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-track {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-track-piece {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: $dark;
                    border-radius: 8px;
                }

                li {
                    border-bottom-color: $gris-dark;
                }
            }

            .bg-circulo {
                background-color: darken($dark-med,  1);
            }
        }
        
        .reproductor-principal {
            

            .fixed-menu-movil {
                border-top: 1px solid $gris-dark;
                background-color: $dark;

                a {
                    color: $white;
                }
            }
        }

        .modal-registro {
            background-color: #0f0f0fb2;

            .modal-content{
                border-radius: 9px;
                background-color: $dark-light;
                color: $white;

                .modal-header {
                    button {
                        color: $white;
                    }
                }

                &::before {
                   background-color:  $dark;
                }

                .st0{
                    fill: $light;
                    color: red;
                }
            }
        }
    }
}