body {
    font-size: 16px;
}

.main-container {
    display: grid;
    grid-template-columns: 70px 1fr;

    nav {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    aside {
        grid-column: 1/2;
        height: 100vh;

        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 3rem;
            text-align: center;

            li {
                margin-bottom: 1.8em;
            }

            a {
                font-size: 1.3em;
                color: #585858;
            }
        }
    }
}