body {
    font-size: 16px;
    overflow-x: hidden;
    height: 100vh;
}


.main-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: min-content;
    height: 100%;

    nav {
        grid-row: 1/2;
        grid-column: 1/4;
        background-color: $light;

        
        .navbar-brand {

            svg {
                width: 100px;
            }

            .st0{
                fill: $dark;
            }
            .st1{
                fill:none;
                stroke:#FF7234;
                stroke-width:17.2795;
                stroke-miterlimit:10;
            }
        }

        .buscador-navbar {
            max-width: 285px;
            width: 100%;

            input {
                border-right: 0;

                &:active {
                    box-shadow: unset;
                }

                &:focus {
                    box-shadow: unset;
                    border: 1px solid #ced4da;
                    border-right: 0;
                }
            }

            button {
                border-left: 0;
                background-color: unset;

                &:hover {
                    color: #5034E5;
                }
            }
        }
    }

    .menu-lateral {
        grid-column: 1/2;
        height: 100%;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.274);

        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 3rem;
            text-align: center;

            li {
                margin-bottom: 2.1em;
            }

            a {
                font-size: 1.3em;
                color: #585858;
            }
        }
    }

    .contenido-principal {
        padding: 3.4rem;
        grid-column: 2/4;
        position: relative;
        overflow-y: hidden;
        z-index: 1;

        .cancion-actual {
            position: relative;
            display: grid;
            position: relative;
            grid-template-columns: 65px 1fr 1fr;
            grid-gap: 10px;
            background-color: $light;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
            border-radius: 8px;
            align-items: center;
            padding: 0.6em;

            &::before {
                content: '';
                background-color: #e6e6e6;
                position: absolute;
                bottom: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
            }

            .miniatura__cancion-actual {
                height: 100%;

                img {
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .datos__cancion-actual {
                height: 100%;
                
                .titulo__cancion-actual {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                .nombre-artista__cancion-actual {
                    font-size: 0.96rem;
                    margin-bottom: 0;
                }

                .duracion__cancion-actual {
                    font-size: 0.85rem;
                    color: gray
                }
            }

            .boton-reproductor {

                button {
                    padding: 0;
                    display: block;
                    margin: auto;
                    font-size: 2.8rem;
                    color: $color-primario;
                    border-radius: 100%;
                    display: flex;
                    height: 50px;
                    width: 50px;
                    justify-content: center;
                    align-items: center;

                    svg {
                        transition:color 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
                    }

                    &:hover svg {
                        color: darken($color-primario, 10);
                    }

                    &:active {
                        transform: scale(0.96);
                    }
                }
            }

            .marcar-favorito {
                position: absolute;
                right: 12px;
                top: 3px;
                color: $color-secundario;
                padding: 0;
                font-size: 1.2rem;
            }
        }

        .container-lista-reproduccion{
            padding: 1.6rem;
            position: relative;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
            border-radius: 8px;
            background-color: $light;

            &::before {
                content: '';
                background-color: #e6e6e6;
                position: absolute;
                bottom: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
            }

        }

        .lista-reproduccion {
            list-style-type: none;
            max-height: 230px;
            overflow-y: scroll;
            padding: 1em;

            li {
                grid-template-columns: 1fr 1fr 70px 30px;
                display: grid;
                align-items: center; 
                justify-content: space-between;
                border-bottom: 1px solid #c9c9c9;
                padding-bottom: 0.6em;
                margin-bottom: 0.6em;
                font-size: 0.93rem;

                .titulo-cancion__lista-reproduccion {
                    font-weight: bold;
                }

                .nombre-artista__lista-reproduccion, .duracion-cancion__lista-reproduccion {
                    text-align: center;
                }

                .favorito_lista-reproduccion {
                    padding: 0;
                    color: $color-secundario;
                    
                }
            }
        }

        .img-artista {
            position: absolute;
            right: -50px;
            border-radius: 9px;
            box-shadow: 9px 8px 8px rgba(0, 0, 0, 0.425);
            object-fit: cover;
            height: 350px;
            width: 450px;
        }

        .bg-circulo {
            height: 320px;
            width: 320px;
            border-radius: 50%;
            background-color: rgb(211, 209, 209);
            position: absolute;
            bottom: -40px;
            right: -40px;
            z-index: -1;
        }
    }

    .reproductor-principal {
        background-color: white;
        box-shadow: -8px 0px 9px rgba(0, 0, 0, 0.199);

        &::before {
            position: absolute;
            content: '';
            background-color: dodgerblue;
            width: 40%;
            height: 3px;
            z-index: -1;
            top: 0px;
        }

        .controles-principales-reproductor {

            button {
                padding: 0 0.5rem;
                line-height: 0;
            }

            .btn-reproducir {
                color: #5034E5;
                font-size: 2.3rem;
            }

            .btn-atras, .btn-siguiente {
               color: gray;
            }
        }

        .container-datos-cancion {
            display: grid;
            grid-template-columns: 45px minmax(min-content,max-content) min-content;
            column-gap: 10px;

            .miniatura-cancion {
                width: 45px;
                border-radius: 8px;
            }

            .datos-cancion {
                display: grid;
                align-content: flex-start;
                h4 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: bold;
                }

                span {
                    font-size: 0.9rem;
                    line-height: 1;
                }
            }

            .marcar-favorito {
                color: $color-secundario;
                padding: 0;
                font-size: 1.2rem;
                height: 30px;
                width: 30px;
                align-self: flex-start;
                margin-left: 5px;
                line-height: 1;
            }
        }
    }
}

// Modo oscuro
#darkmodeHidden:checked +{

    .main-container   {
        background-color: $dark-light;

        nav {
            background-color: $dark;

            .navbar-brand {

                .st0{
                    fill: $light;
                }
            }

            a {
                color: darken( $light,  30) 
            }
        }

        aside {
            background-color: $dark ;
            color: $light;
        }

        .menu-lateral {
            a {
                color: darken($light, 30);
            }
        }

        .contenido-principal {
            background-color: $dark-light;

            .cancion-actual, .container-lista-reproduccion {
                background-color: $dark-light;
                color: $light;

                &::before {
                    background-color: $dark-med;
                }
            }

            .lista-reproduccion {
                background-color: $dark-light;
                color: $light;

                &::-webkit-scrollbar {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-track {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-track-piece {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: $dark;
                    border-radius: 8px;
                }

                li {
                    border-bottom-color: $gris-dark;
                }
            }

            .bg-circulo {
                background-color: darken($dark-med,  1);
            }
        }
    }
}


// Media queries
@media(min-width:1400px) {
    .main-container {

        .contenido-principal {

            .bg-circulo {
                background-color: $color-primario;
            }
        }
    }
}