body {
    font-size: 16px;
    overflow-x: hidden;
    height: 100vh;
}

.circulo-marca {
    transition: 0.7s ease-in-out;
    transform-origin: center;
}

.circulo-marca.girar {

    transform: rotate(360deg);

}

.titulo-seccion {
    font-size: 1.2rem;
    font-weight: bold;
    color: $gris-dark;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    content: '';
    height: 30px;
    width: 30px;
    background-image: url(/src/img/sun.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: lighten($gris-dark,  55) ;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;

}

.slider::after {
    content: '';
    height: 30px;
    width: 30px;
    background-image: url(/src/img/moon.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: 0.5s ease-in-out;
    transform: translateX(-26px);
    filter: invert(1);
    z-index: 4;
}

input:checked + .slider {
    background-color: $gris-dark;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(30px);
}

input:checked + .slider:after {
    transform: translateX(0);
}


.main-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: min-content;
    height: 100%;

    nav {
        grid-row: 1/2;
        grid-column: 1/4;
        background-color: $light;

        a {
            color: $gris-dark;
        }

        .navbar-brand {

            svg {
                width: 100px;
            }

            .st0{
                fill: $dark;
            }

            .st1{
                fill:none;
                stroke: $color-secundario;
                stroke-width:17.2795;
                stroke-miterlimit:10;
            }
        }

        .buscador-navbar {
            max-width: 285px;
            width: 100%;

            input {
                border-right: 0;
                transition: border-color 0s;

                &:active {
                    box-shadow: unset;
                }

                &:focus {
                    box-shadow: unset;
                    border: 1px solid #ced4da;
                    border-right: 0;
                }
            }

            button {
                border-left: 0;
                background-color: unset;

                &:hover {
                    color: $color-primario;
                }
            }

            &:focus-within button {

                color: $color-primario;
            }
        }
    }

    .menu-lateral {
        grid-column: 1/2;
        height: 100%;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.274);

        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 3rem;
            text-align: center;

            li {
                margin-bottom: 2.1em;
            }

            a {
                font-size: 1.3em;
                color: #585858;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .contenido-principal {
        padding: 2rem 3.4rem;
        grid-column: 2/4;
        position: relative;
        z-index: 1;
        max-width: 1820px;
        margin: 0 auto;
        width: 100%;

        .cancion-actual {
            position: relative;
            display: grid;
            position: relative;
            grid-template-columns: 65px 1fr 130px;
            grid-gap: 10px;
            background-color: $light;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
            border-radius: 8px;
            align-items: center;
            padding: 0.6em;

            &::before {
                content: '';
                background-color: #e6e6e6;
                position: absolute;
                bottom: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
            }

            .miniatura__cancion-actual {
                height: 100%;

                img {
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .datos__cancion-actual {
                height: 100%;
                
                .titulo__cancion-actual {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0;
                }

                .nombre-artista__cancion-actual {
                    font-size: 0.96rem;
                    margin-bottom: 0;
                }

                .duracion__cancion-actual {
                    font-size: 0.85rem;
                    color: gray
                }
            }

            .boton-reproductor {

                button {
                    padding: 0;
                    display: block;
                    margin: auto;
                    font-size: 2.8rem;
                    color: $color-primario;
                    border-radius: 100%;
                    display: flex;
                    height: 50px;
                    width: 50px;
                    justify-content: center;
                    align-items: center;

                    svg {
                        transition:color 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);
                    }

                    &:hover svg {
                        color: darken($color-primario, 10);
                    }

                    &:active {
                        transform: scale(0.96);
                    }
                }
            }

            .marcar-favorito {
                position: absolute;
                right: 12px;
                top: 3px;
                color: $color-secundario;
                padding: 0;
                font-size: 1.2rem;
            }
        }

        .container-lista-reproduccion{
            padding: 1.6rem;
            position: relative;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
            border-radius: 8px;
            background-color: $light;

            &::before {
                content: '';
                background-color: #e6e6e6;
                position: absolute;
                bottom: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
            }

        }

        .lista-reproduccion {
            list-style-type: none;
            max-height: 220px;
            overflow-y: scroll;
            padding: 1em;

            li {
                grid-template-columns: 1fr 1fr 70px 30px;
                display: grid;
                align-items: center; 
                justify-content: space-between;
                border-bottom: 1px solid #c9c9c9;
                padding-bottom: 0.6em;
                margin-bottom: 0.6em;
                font-size: 0.90rem;

                .titulo-cancion__lista-reproduccion {
                    font-weight: bold;
                }

                .nombre-artista__lista-reproduccion, .duracion-cancion__lista-reproduccion {
                    text-align: center;
                }

                .favorito_lista-reproduccion {
                    padding: 0;
                    color: $color-secundario;
                    
                }
            }
        }

        .container-banner-artista {
            position: relative;

            .nombre-artista-banner {
                position: absolute;
                color: $light;
                font-weight: bolder;
                font-size: 2.8rem;
                top: 10px;
                left: 20px;
                border-bottom: 5px solid $color-secundario ;
                z-index: 2;
                line-height: 1;
                letter-spacing: 2px;
            }

            button {
                position: absolute; 
                right: 20px;
                top: 20px;
                z-index: 2;
                color: $color-primario;
                letter-spacing: 1px;
                font-weight: bolder;

                svg {
                    color: $color-secundario;
                }
            }

            .redes-sociales {
                position: absolute;
                bottom: 10px;
                right: 15px;
                z-index: 2;
                margin: 0;

                li {
                    margin-right: 15px;

                    a {
                        color: $light;
                    }
                }
            }

            &::before {
                content: "";
                background-color: #e6e6e6;
                position: absolute;
                bottom: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
            }

            &::after {
                background: linear-gradient(to bottom, #240b3698, #c3143200);
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                content: '';
                top: 0;
                left: 0;
                border-radius: 9px;
            }

        }

        .img-artista {
            border-radius: 9px;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
            object-fit: cover;
            height: 160px;
            width: 100%;
        }

        .albumes {
            margin-top: 0.9rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
            column-gap: 15px;
            padding: 1em;
            border-radius: 8px;
            position: relative;
            background-color: $light;

            .album {
                margin-bottom: 0;
                text-align: center;
                font-size: 0.90rem;
                color: $dark-med;
                font-weight: bold;
                overflow: hidden;

                a {
                    text-decoration: none;
                    color: $dark-med;
                }

                .img-container {
                    overflow: hidden;
                }

                img {
                    height: 90px;
                    width: 100%;
                    object-fit:cover;
                    border-radius: 8px;
                    transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
                }

                figcaption {
                    margin-top: 0.5rem;
                    transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
                }

                time {
                    font-size: 0.85rem;
                    font-weight: normal;
                }

                &:hover img {
                    transform: scale(1.1);
                }

                &:hover figcaption {
                    opacity: 0.6;
                }
            }

            
            &::before {
                content: "";
                background-color:#e6e6e6;
                position: absolute;
                bottom: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                z-index: -1;
            }
        }

        .bg-circulo {
            height: 320px;
            width: 320px;
            border-radius: 50%;
            background-color: rgb(211, 209, 209);
            position: absolute;
            bottom: -40px;
            right: -40px;
            z-index: -1;
        }
    }

    .reproductor-principal {
        background-color: white;
        box-shadow: -8px 0px 9px rgba(0, 0, 0, 0.199);

        .fixed-menu-movil {
            list-style-type: none;
            margin: 0;
            padding: 0.6em;
            background-color: $dark;
            border-top: 1px solid $dark-light;

            a {
                color: $gris-dark;
            }
        }

        &::before {
            position: absolute;
            content: '';
            background-color: dodgerblue;
            width: 40%;
            height: 3px;
            z-index: -1;
            top: 0px;
        }

        .controles-principales-reproductor {

            button {
                padding: 0 0.5rem;
                line-height: 0;
            }

            .btn-reproducir {
                color: #5034E5;
                font-size: 2.3rem;
            }

            .btn-atras, .btn-siguiente {
               color: gray;
            }
        }

        .container-datos-cancion {
            display: grid;
            grid-template-columns: 45px minmax(min-content,max-content) min-content;
            column-gap: 10px;

            .miniatura-cancion {
                width: 45px;
                border-radius: 8px;
            }

            .datos-cancion {
                display: grid;
                align-content: flex-start;
                h4 {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: bold;
                }

                span {
                    font-size: 0.9rem;
                    line-height: 1;
                }
            }

            .marcar-favorito {
                color: $color-secundario;
                padding: 0;
                font-size: 1.2rem;
                height: 30px;
                width: 30px;
                align-self: flex-start;
                margin-left: 5px;
                line-height: 1;
            }
        }
    }
}

// Modo oscuro
body.dark{
    background-color: $dark-light;

    .main-container   {
        background-color: $dark-light;

        nav {
            background-color: $dark;

            .navbar-brand {

                .st0{
                    fill: $light;
                }
            }

            a {
                color: darken( $light,  30) 
            }

            .buscador-navbar  {
                
                input {
                    border-color: $dark-light;
                }

                button {
                    background-color: $light;
                    border-color: $dark-light;
                }

            }
        }

        aside {
            background-color: $dark ;
            color: $light;

            .control-volumen{
                color: $light;
            }
        }

        .menu-lateral {

            a {
                color: darken($light, 30);
            }
        }

        .contenido-principal {
            background-color: $dark-light;

            .container-banner-artista {

                &::before {
                    background-color: $dark-med;
                }
            }

            .titulo-seccion {
                color: $light;
            }

            .albumes {
                background-color: $dark-light;

                .album {
                    color: $light;

                    a {
                        color: $light;
                    }
                }


                &::before {
                    background-color: $dark-med;

                }
            }

            .cancion-actual, .container-lista-reproduccion {
                background-color: $dark-light;
                color: $light;

                &::before {
                    background-color: $dark-med;
                }
            }

            .lista-reproduccion {
                background-color: $dark-light;
                color: $light;

                &::-webkit-scrollbar {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-track {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-track-piece {
                    background-color:$gris-dark;
                }
                
                &::-webkit-scrollbar-thumb {
                    background-color: $dark;
                    border-radius: 8px;
                }

                li {
                    border-bottom-color: $gris-dark;
                }
            }

            .bg-circulo {
                background-color: darken($dark-med,  1);
            }
        }
    }
}


// Media queries

@media(min-width:1600px) {
    .main-container {

        .contenido-principal {

            .container-banner-artista {
                img {
                    height: 280px;
                }
            }

            .lista-reproduccion {
                max-height: 400px;
            }

            .bg-circulo {
                width: 400px;
                height: 400px;
            }
        }
    }
}


@media(min-width:1800px) {
    .main-container {

        .contenido-principal {
            overflow-y: visible;

            .container-banner-artista {
                img {
                    height: 280px;
                }
            }

            .lista-reproduccion {
                max-height: 400px;
            }

            .bg-circulo {
                width: 400px;
                height: 400px;
            }
        }
    }
}

@media(min-width:1920px) {
    .main-container {

        .contenido-principal {

            .albumes .album img {
                height: 170px;
            }

            .container-lista-reproduccion .lista-reproduccion {
                max-height: 420px;
            }

            .bg-circulo {
                width: 500px;
                height: 500px;
                right: -140px;
            }
        }
    }
}

@media(max-width:998px) {
    body {
        height: auto;
    }
}

@media(max-width:650px) {
    body {
        height: auto;

        .main-container {
            grid-template-columns: 1fr;
            height: auto;

            .menu-lateral {
                grid-row: 3;
    
                ul {
                    margin: 0;
                    display: flex;
                    justify-content: space-evenly;
                    padding: 0.4em;

                    li {
                        margin-bottom: 0;
                    }

                    hr {
                        display: none;
                    }
                }
            }
    
            .contenido-principal {
                grid-column: 1/2;
                padding: 1rem;
                overflow-x: hidden;

                .container-banner-artista {

                    .nombre-artista-banner {
                        font-size: 1.5rem;
                    }

                    button {
                        font-size: 0.9rem;
                        top: 10px;
                    }
                }

                .albumes {
                    grid-template-columns: repeat(3, 1fr);
                    padding: 0.6em;

                    figcaption {
                        font-size: 0.8rem;
                    }
                }
          
            }

            .reproductor-principal {

                .container-datos-cancion {

                    .marcar-favorito {
                        position: absolute;
                        right: 8px;
                        top: 5px;
                        font-size: 0.94rem;
                    }

                    .btn-reproducir-movil {
                        position: absolute;
                        right: 70px;
                        padding: 0;
                        font-size: 1.9rem;
                        color: $color-primario;
                    }
                }


            }
        }
    }

}
