
.main-perfil-artista{

    .container-banner-artista {
        position: relative;

        .img-artista {
            height: 160px;
            width: 100%;
            object-fit: cover;
            border-radius: 9px;
            overflow: hidden;
        }
        
        .nombre-artista-banner, button, .redes-sociales {
            position: absolute;
            z-index: 2;
        }

        .nombre-artista-banner {
            color: $light;
            font-weight: bolder;
            font-size: 2.8rem;
            top: 10px;
            left: 20px;
            border-bottom: 5px solid $secondary ;
            line-height: 1;
            letter-spacing: 2px;
        }


        button {
            position: absolute; 
            right: 20px;
            top: 20px;
            color: $primary;
            letter-spacing: 1px;
            font-weight: bolder;

            svg {
                color: $secondary;
            }
        }

        .redes-sociales {
            bottom: 10px;
            right: 15px;
            margin: 0;

            li {
                margin-right: 15px;

                a {
                    color: $light;
                }
            }
        }

        &::after {
            background: linear-gradient(to bottom, #240b3698, #c3143200);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            content: '';
            top: 0;
            left: 0;
            border-radius: 9px;
        }
    }

    .reproductor-album {
        display: grid;
        position: relative;
        grid-template-columns: 65px 1fr 130px;
        grid-gap: 10px;
        background-color: $light;
        border-radius: 8px;
        align-items: center;
        padding: 0.6em;

        .miniatura__reproductor-album {
            height: 100%;

            img {
                object-fit: cover;
                border-radius: 8px;
            }
        }

        .datos__reproductor-album {
            height: 100%;
            
            .titulo__reproductor-album {
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0;
            }

            .nombre-artista__reproductor-album {
                font-size: 0.96rem;
                margin-bottom: 0;
            }

            .fecha-album {
                font-size: 0.85rem;
                color: $gris-med;
            }
        }


        .marcar-favorito {
            position: absolute;
            right: 12px;
            top: 3px;
            color: $secondary;
            padding: 0;
            font-size: 1.2rem;
        }
    }

    .lista-reproduccion {
        max-height: 220px;
        overflow-y: scroll;
    }

    .albumes {
        margin-top: 0.9rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 15px;
        padding: 1em;
        border-radius: 8px;
        position: relative;
        background-color: $light;

        .album {
            margin-bottom: 0;
            text-align: center;
            font-size: 0.90rem;
            color: $dark-med;
            font-weight: bold;
            overflow: hidden;

            a {
                text-decoration: none;
                color: $dark-med;
            }

            .img-container {
                overflow: hidden;
                border-radius: 8px;
            }

            img {
                height: 90px;
                width: 100%;
                object-fit:cover;
                border-radius: 8px;
                transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
            }

            figcaption {
                margin-top: 0.5rem;
                transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            time {
                font-size: 0.85rem;
                font-weight: normal;
            }

            &:hover img {
                transform: scale(1.1);
                overflow: hidden;
                border-radius: 8px;
            }

            &:hover figcaption {
                opacity: 0.6;
            }
        }
    }

    .bg-circulo {
        height: 320px;
        width: 320px;
        border-radius: 50%;
        background-color: rgb(211, 209, 209);
        position: absolute;
        bottom: -40px;
        right: -40px;
        z-index: -1;
    }
}

/// Modo oscuro
body.dark {

    .container-banner-artista {

        &::before {
            background-color: $dark-med;
        }
    }

    .reproductor-album {
        background-color: $dark-light;
        color: $light;

    }

    .titulo-seccion {
        color: $light;
    }

    .albumes {
        background-color: $dark-light;

        .album {
            color: $light;

            a {
                color: $light;
            }
        }

        &::before {
            background-color: $dark-med;

        }
    }

    .bg-circulo {
        background-color: darken($dark-med,  1);
    }
}

// Media queries
@media(min-width:1600px) {
    
    .main-perfil-artista {

        .container-banner-artista {
            img {
                height: 280px;
            }
        }

        .bg-circulo {
            width: 400px;
            height: 400px;
        }
    }
}

@media(min-width:1800px) {

    .main-perfil-artista {
        overflow-y: visible;

        .container-banner-artista {
            img {
                height: 280px;
            }
        }

        .bg-circulo {
            width: 400px;
            height: 400px;
        }
    }
}

@media(min-width:1920px) {

    .main-perfil-artista {

        .albumes .album img {
            height: 170px;
        }

        .bg-circulo {
            width: 500px;
            height: 500px;
            right: -140px;
        }
    }
}

@media(max-width:650px) {

    .main-perfil-artista {
        grid-column: 1/2;
        padding: 1rem;
        overflow-x: hidden;
        padding-bottom: 10rem;
        padding-top: 7.5rem;

        .container-banner-artista {

            .nombre-artista-banner {
                font-size: 1.5rem;
            }

            button {
                font-size: 0.9rem;
                top: 10px;
            }
        }

        .albumes {
            grid-template-columns: repeat(3, 1fr);
            padding: 0.6em;

            figcaption {
                font-size: 0.8rem;
            }
        }

        .bg-circulo {
            display: none;
        }
    }
}
