<%- include('partials/_head'); %>
<body>
    <div class="container mt-5">
        <h1>Subir nuevo artista</h1>
        <form action="/subir" method="POST">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="nombre_artista">Nombre artista</label>
                    <input class="form-control" type="text" name="nombre_artista">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="banner">Ruta img banner</label>
                    <input class="form-control" type="text" name="banner">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="nombre_artista">Nombre álbum 1</label>
                    <input class="form-control" type="text" name="nombre_album">
                </div>
                <div class="col-lg-6 mb-3">
                    <label class="form-label" for="nombre_artista">Reciente</label>
                    <input class="form-check-input" type="checkbox" name="reciente">
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary px-4 mt-5" type="submit">Subir</button>
            </div>
        </form>
    </div>
<%- include('partials/_footer.ejs') %> 