<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=".../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Apolus | Benee</title>
  </head>
  <body>
    <input type="checkbox" hidden id="darkmodeHidden">
    <div class="main-container">
      <nav class="top-navbar navbar navbar-expand px-0 px-sm-3 ps-0 shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 384 128" style="enable-background:new 0 0 384 128;" xml:space="preserve">
            <g>
              <g>
                <path class="st0" d="M83.2,96c0.3,0.7,0.4,1.2,0.4,1.6c0,0.6-0.2,1.2-0.7,1.6c-0.5,0.5-1,0.7-1.6,0.7H68c-1.2,0-2.1-0.3-2.8-0.8
                  c-0.7-0.5-1.1-1.1-1.3-1.8l-3-8.8h-28l-3,8.8c-0.2,0.7-0.7,1.3-1.3,1.8c-0.7,0.5-1.6,0.8-2.8,0.8H12.5c-0.6,0-1.2-0.2-1.6-0.7
                  c-0.5-0.5-0.7-1-0.7-1.6c0-0.4,0.1-0.9,0.4-1.6l23-66.5c0.4-1,0.9-1.8,1.7-2.5s1.8-1,3.1-1h17.1c1.3,0,2.3,0.3,3.1,1
                  s1.3,1.5,1.7,2.5L83.2,96z M55.4,72.1l-8.5-25.3l-8.5,25.3H55.4z"/>
                <path class="st0" d="M109.9,117.1c0,0.8-0.3,1.4-0.8,2c-0.6,0.6-1.2,0.8-2,0.8H93.7c-0.8,0-1.4-0.3-2-0.8c-0.6-0.6-0.8-1.2-0.8-2
                  V47.9c0-0.8,0.3-1.4,0.8-2c0.6-0.6,1.2-0.8,2-0.8h12.8c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2v2.4c1.1-1.3,2.2-2.4,3.2-3.3
                  c1-0.8,2.5-1.6,4.3-2.2c1.9-0.6,4.2-0.9,7.1-0.9c6.7,0,12.2,2,16.6,6.1s6.7,10.1,7,18c0.1,0.7,0.1,2.1,0.1,4.2
                  c0,2.2,0,3.6-0.1,4.3c-0.3,7.9-2.6,14-7,18.1s-9.9,6.2-16.7,6.2c-3.7,0-6.6-0.6-8.9-1.9s-4-2.7-5.3-4.4v22.6H109.9z M126.2,62.8
                  c-1.5-1.7-3.8-2.5-6.9-2.5c-2.9,0-5.1,0.8-6.6,2.4s-2.4,3.6-2.8,6c-0.1,1.4-0.2,2.6-0.2,3.7s0.1,2.3,0.2,3.7
                  c0.3,2.3,1.2,4.3,2.7,6s3.8,2.5,6.6,2.5c3.1,0,5.4-0.8,6.9-2.5s2.4-3.9,2.6-6.6c0.1-1.4,0.2-2.4,0.2-3s-0.1-1.5-0.2-3
                  C128.5,66.7,127.7,64.5,126.2,62.8z"/>
                <path class="st0" d="M243,99c-0.6,0.6-1.2,0.8-2,0.8h-13.3c-0.8,0-1.4-0.3-2-0.8c-0.6-0.6-0.8-1.2-0.8-2V27.8c0-0.8,0.3-1.4,0.8-2
                  c0.6-0.6,1.2-0.8,2-0.8H241c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2V97C243.9,97.8,243.6,98.5,243,99z"/>
                <path class="st0" d="M256.4,45.8c0.6-0.6,1.2-0.8,2-0.8h13.3c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2v26.7
                  c0,3.2,0.7,5.6,2.1,7.4s3.6,2.6,6.5,2.6c5.7,0,8.5-3.3,8.5-10V47.9c0-0.8,0.3-1.4,0.8-2c0.6-0.6,1.2-0.8,2-0.8h13.3
                  c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2V97c0,0.8-0.3,1.4-0.8,2c-0.6,0.6-1.2,0.8-2,0.8h-12.2c-0.8,0-1.4-0.3-2-0.8
                  c-0.6-0.6-0.8-1.2-0.8-2v-2.4c-1.5,1.8-3.4,3.3-5.6,4.5c-2.3,1.2-5.4,1.8-9.2,1.8c-7,0-12.5-2-16.5-6c-3.9-4-5.9-10-5.9-18v-29
                  C255.6,47.1,255.9,46.4,256.4,45.8z"/>
                <path class="st0" d="M325.4,72.5c-2.9-3-4.3-6.8-4.3-11.6c0-3.2,1-6,3.1-8.6s5-4.6,8.8-6.1s8-2.3,12.8-2.3c4.7,0,9,0.7,12.8,2.2
                  c3.8,1.4,6.9,3.3,9.1,5.5c2.3,2.3,3.5,4.6,3.7,7.1c0.1,0.8-0.2,1.4-0.8,2c-0.6,0.6-1.3,0.8-2.1,0.8H356c-0.8,0-1.7-0.4-2.7-1.2
                  c-0.9-0.7-1.9-1.2-3-1.6c-1.1-0.4-2.6-0.6-4.5-0.6c-1.7,0-3.1,0.2-4.1,0.7c-1.1,0.5-1.6,1.2-1.6,2.2c0,0.8,0.2,1.5,0.6,1.9
                  s1.1,0.7,2.1,0.9c1,0.2,2.8,0.5,5.3,0.8l6.5,1.1c6.1,1,10.7,3.1,13.8,6.3c3.1,3.2,4.6,7,4.6,11.4c0,3.2-1.1,6.1-3.2,8.7
                  s-5.2,4.7-9.3,6.3c-4,1.5-8.8,2.3-14.3,2.3c-5.3,0-9.9-0.8-13.8-2.3s-6.9-3.4-9-5.8c-2.1-2.3-3.2-4.7-3.4-7.1
                  c-0.1-0.8,0.2-1.4,0.8-2c0.6-0.6,1.3-0.8,2.1-0.8H336c0.5,0,0.9,0.1,1.2,0.3c0.3,0.2,0.7,0.5,1.1,0.9c0.8,0.8,1.8,1.4,2.8,1.8
                  c1.1,0.5,2.7,0.7,5.1,0.7c2.2,0,4-0.3,5.5-0.9s2.3-1.4,2.3-2.4c0-1.1-0.5-1.9-1.6-2.3s-3.4-0.9-7-1.4l-7.6-1.3
                  C332.4,77.5,328.3,75.5,325.4,72.5z"/>
              </g>
            </g>
            <g class="circulo-marca">
              <path class="st1" d="M165.3,71.2c0-10.6,8.6-19.1,19.1-19.1s19.1,8.6,19.1,19.1"/>
              <path class="st1" d="M203.5,75.8c0,10.6-8.6,19.1-19.1,19.1s-19.1-8.6-19.1-19.1"/>
            </g>
            </svg>
          </a>
          <div class="collapse navbar-collapse ms-4" id="navbarSupportedContent">
            <form class="buscador-navbar d-none d-md-flex">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar artista, canción o albúm" aria-label="buscador" aria-describedby="buscador">
                <button class="input-group-text" id="buscardor"><i class="fas fa-search "></i></button>
              </div>
            </form>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item me-3 d-none d-md-block">
                <a class="nav-link active" aria-current="page" href="#!">Iniciar sesión</a>      
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-primary text-white px-3" aria-current="page" data-bs-toggle="modal" data-bs-target="#iniciarSesion" href="#!">Crear una cuenta</a> 
              </li>
              <li class="nav-item px-3 px-sm-4 pe-0 d-flex align-items-center">
                <label class="switch" title="Cambiar modo de color">
                  <input type="checkbox" id="darkmode">
                  <span class="slider round"></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <aside class="menu-lateral">
        <ul>
          <li><a href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio"><i class="fas fa-home"></i></a></li>
          <li><a href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Buscar"><i class="fa fa-search"></i></a></li>
          <li><a href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Favoritos"><i class="fas fa-heart"></i></a></li>
          <li><a href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Listas de reproducción"><i class="fas fa-music"></i></a></li>
          <li><a href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Amigos"><i class="fas fa-user-friends"></i></a></li>
          <li><hr class="mx-3"><a href="#!" data-bs-toggle="tooltip" data-bs-placement="right" title="Ajustes"><i class="fas fa-cog"></i></a></li>
        </ul>
      </aside>

      <main class="main-perfil-artista">
        <div class="row">

          <div class="col-lg-7 position-relative pe-lg-4 pb-4 pb-lg-0 pt-4 pt-sm-0">
            <section class="container-banner-artista shadow-card">
              <img class="img-artista img-fluid" src="../img/benee-02.jpg" alt="">
              <h1 class="nombre-artista-banner">Benee</h1>
              <button id="btn-seguir" class="btn bg-light"><span>Seguir</span> <i class="fas fa-plus"></i></button>
              <ul class="redes-sociales d-flex list-unstyled">
                <li><a href="#!"><i class="fab fa-instagram " title="Instagram"></i></a></li>
                <li><a href="#!"><i class="fab fa-twitter " title="Twitter"></i></a></li>
                <li><a href="#!"><i class="fab fa-facebook " title="Facebook"></i></a></li>
                <li><a href="#!"><i class="fab fa-youtube " title="Youtube"></i></a></li>
              </ul> 
            </section>     

            <h2 class="titulo-seccion mt-4 mt-lg-4">Albumes</h4>
            <section class="albumes shadow-card">
              <figure class="album">
                <a href="#!">
                  <div class="img-container">
                    <img class="img-fluid" src="../img/album02.jpg" alt="">
                  </div>
                  <figcaption> Fire on Marzzs LP <time class="d-block" datetime="2019-06-28">(2019)</time></figcaption>
                </a>
              </figure>
              <figure class="album">
                <a href="#!">
                  <div class="img-container">
                    <img class="img-fluid" src="../img/album01.jpg" alt="">         
                  </div>
                  <figcaption> Stella & Steve LP <time class="d-block" datetime="2019-11-15">(2019)</time></figcaption>
                </a>
              </figure>
              <figure class="album">
                <a href="#!">
                  <div class="img-container">
                    <img class="img-fluid" src="../img/hey.jpg" alt="">
                  </div>
                  <figcaption> Hey U X <time class="d-block" datetime="2020-11-13">(2020)</time></figcaption>
                </a>
              </figure>
            </section> 
          </div>

          <div class="col-lg-5 mt-4 mt-sm-0">
            <article class="reproductor-album shadow-card">
              <div class="miniatura__reproductor-album">
                <img class="img-fluid" src="../img/hey.jpg" alt="miniatura cancion">
              </div>
              <div class="datos__reproductor-album">
                  <h4 class="titulo__reproductor-album">Hey U X</h4>
                  <h3 class="nombre-artista__reproductor-album">Benee</h3>
                  <span class="fecha-album">2020</span>
              </div>
              <button class="btn btn-play" data-play="" >
                <i class="fas fa-play-circle "></i>
              </button>
              <button data-favorito="" class="marcar-favorito btn" title="Marcar como favorito">
                <i class="far fa-heart"></i>
              </button>
            </article>
            <div class="container-lista-reproduccion shadow-card mt-4">
              <ul class="lista-reproduccion"> </ul>
            </div>
          </div>
        </div>
        <div class="bg-circulo"></div>
      </main>

      <aside class="reproductor-principal fixed-bottom ">
        <div class="container-fluid py-3">
          <div class="row align-items-center">
            <div class="col-sm-4">
              <div class="container-datos-cancion">
                <img class="miniatura-cancion img-fluid" src="../img/hey.jpg" alt="miniatura cancion">
                <div class="datos-cancion">
                  <h4>SupaLonely</h4>
                  <span>Benee</span>
                </div>
                <button data-favorito="" class="marcar-favorito btn" title="Favorito"><i class="fas fa-heart"></i></button>
                <button class="btn-reproducir-movil btn-play btn d-block d-sm-none"  data-play=""><i class="fas fa-play-circle"></i></button>
              </div>
            </div>
            <div class="col-sm-4 d-sm-block d-none text-center">
              <div class="controles-principales-reproductor">
                <button class="btn-atras btn"><i class="fas fa-backward"></i></button>
                <button class="btn-reproducir btn btn-play" data-play="" title="Reproducir"> <i class="fas fa-play-circle"></i></button>
                <button class="btn-siguiente btn"><i class="fas fa-forward"></i></button>
              </div>
            </div>
            <div class="col-sm-4 d-none d-sm-flex justify-content-end align-items-center">
              <span>3:15 / 4:40</span>
              <button class="control-volumen btn p-0 mx-3"><i class="fas fa-volume-up"></i></button>
            </div>
          </div>
        </div>
        <ul class="fixed-menu-movil d-flex d-sm-none justify-content-around">
          <li><a href="!#" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio"><i class="fas fa-home"></i></a></li>
          <li><a href="!#" data-bs-toggle="tooltip" data-bs-placement="right" title="Buscar"><i class="fa fa-search"></i></a></li>
          <li><a href="!#" data-bs-toggle="tooltip" data-bs-placement="right" title="Favoritos"><i class="fas fa-heart"></i></a></li>
          <li><a href="!#" data-bs-toggle="tooltip" data-bs-placement="right" title="Listas de reproducción"><i class="fas fa-stream"></i></a></li>
        </ul>
      </aside>
      <div class="modal modal-registro fade" id="iniciarSesion" tabindex="-1" aria-labelledby="iniciarSesion" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content shadow-card">
            <div class="modal-header border-bottom-0">
              <?xml version="1.0" encoding="utf-8"?>
              <svg style="width: 120px; margin: auto;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 384 128" style="enable-background:new 0 0 384 128;" xml:space="preserve">
              <g>
                <g>
                  <path class="st0" d="M83.2,96c0.3,0.7,0.4,1.2,0.4,1.6c0,0.6-0.2,1.2-0.7,1.6c-0.5,0.5-1,0.7-1.6,0.7H68c-1.2,0-2.1-0.3-2.8-0.8
                    c-0.7-0.5-1.1-1.1-1.3-1.8l-3-8.8h-28l-3,8.8c-0.2,0.7-0.7,1.3-1.3,1.8c-0.7,0.5-1.6,0.8-2.8,0.8H12.5c-0.6,0-1.2-0.2-1.6-0.7
                    c-0.5-0.5-0.7-1-0.7-1.6c0-0.4,0.1-0.9,0.4-1.6l23-66.5c0.4-1,0.9-1.8,1.7-2.5s1.8-1,3.1-1h17.1c1.3,0,2.3,0.3,3.1,1
                    s1.3,1.5,1.7,2.5L83.2,96z M55.4,72.1l-8.5-25.3l-8.5,25.3H55.4z"/>
                  <path class="st0" d="M109.9,117.1c0,0.8-0.3,1.4-0.8,2c-0.6,0.6-1.2,0.8-2,0.8H93.7c-0.8,0-1.4-0.3-2-0.8c-0.6-0.6-0.8-1.2-0.8-2
                    V47.9c0-0.8,0.3-1.4,0.8-2c0.6-0.6,1.2-0.8,2-0.8h12.8c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2v2.4c1.1-1.3,2.2-2.4,3.2-3.3
                    c1-0.8,2.5-1.6,4.3-2.2c1.9-0.6,4.2-0.9,7.1-0.9c6.7,0,12.2,2,16.6,6.1s6.7,10.1,7,18c0.1,0.7,0.1,2.1,0.1,4.2
                    c0,2.2,0,3.6-0.1,4.3c-0.3,7.9-2.6,14-7,18.1s-9.9,6.2-16.7,6.2c-3.7,0-6.6-0.6-8.9-1.9s-4-2.7-5.3-4.4v22.6H109.9z M126.2,62.8
                    c-1.5-1.7-3.8-2.5-6.9-2.5c-2.9,0-5.1,0.8-6.6,2.4s-2.4,3.6-2.8,6c-0.1,1.4-0.2,2.6-0.2,3.7s0.1,2.3,0.2,3.7
                    c0.3,2.3,1.2,4.3,2.7,6s3.8,2.5,6.6,2.5c3.1,0,5.4-0.8,6.9-2.5s2.4-3.9,2.6-6.6c0.1-1.4,0.2-2.4,0.2-3s-0.1-1.5-0.2-3
                    C128.5,66.7,127.7,64.5,126.2,62.8z"/>
                  <path class="st0" d="M243,99c-0.6,0.6-1.2,0.8-2,0.8h-13.3c-0.8,0-1.4-0.3-2-0.8c-0.6-0.6-0.8-1.2-0.8-2V27.8c0-0.8,0.3-1.4,0.8-2
                    c0.6-0.6,1.2-0.8,2-0.8H241c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2V97C243.9,97.8,243.6,98.5,243,99z"/>
                  <path class="st0" d="M256.4,45.8c0.6-0.6,1.2-0.8,2-0.8h13.3c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2v26.7
                    c0,3.2,0.7,5.6,2.1,7.4s3.6,2.6,6.5,2.6c5.7,0,8.5-3.3,8.5-10V47.9c0-0.8,0.3-1.4,0.8-2c0.6-0.6,1.2-0.8,2-0.8h13.3
                    c0.8,0,1.4,0.3,2,0.8c0.6,0.6,0.8,1.2,0.8,2V97c0,0.8-0.3,1.4-0.8,2c-0.6,0.6-1.2,0.8-2,0.8h-12.2c-0.8,0-1.4-0.3-2-0.8
                    c-0.6-0.6-0.8-1.2-0.8-2v-2.4c-1.5,1.8-3.4,3.3-5.6,4.5c-2.3,1.2-5.4,1.8-9.2,1.8c-7,0-12.5-2-16.5-6c-3.9-4-5.9-10-5.9-18v-29
                    C255.6,47.1,255.9,46.4,256.4,45.8z"/>
                  <path class="st0" d="M325.4,72.5c-2.9-3-4.3-6.8-4.3-11.6c0-3.2,1-6,3.1-8.6s5-4.6,8.8-6.1s8-2.3,12.8-2.3c4.7,0,9,0.7,12.8,2.2
                    c3.8,1.4,6.9,3.3,9.1,5.5c2.3,2.3,3.5,4.6,3.7,7.1c0.1,0.8-0.2,1.4-0.8,2c-0.6,0.6-1.3,0.8-2.1,0.8H356c-0.8,0-1.7-0.4-2.7-1.2
                    c-0.9-0.7-1.9-1.2-3-1.6c-1.1-0.4-2.6-0.6-4.5-0.6c-1.7,0-3.1,0.2-4.1,0.7c-1.1,0.5-1.6,1.2-1.6,2.2c0,0.8,0.2,1.5,0.6,1.9
                    s1.1,0.7,2.1,0.9c1,0.2,2.8,0.5,5.3,0.8l6.5,1.1c6.1,1,10.7,3.1,13.8,6.3c3.1,3.2,4.6,7,4.6,11.4c0,3.2-1.1,6.1-3.2,8.7
                    s-5.2,4.7-9.3,6.3c-4,1.5-8.8,2.3-14.3,2.3c-5.3,0-9.9-0.8-13.8-2.3s-6.9-3.4-9-5.8c-2.1-2.3-3.2-4.7-3.4-7.1
                    c-0.1-0.8,0.2-1.4,0.8-2c0.6-0.6,1.3-0.8,2.1-0.8H336c0.5,0,0.9,0.1,1.2,0.3c0.3,0.2,0.7,0.5,1.1,0.9c0.8,0.8,1.8,1.4,2.8,1.8
                    c1.1,0.5,2.7,0.7,5.1,0.7c2.2,0,4-0.3,5.5-0.9s2.3-1.4,2.3-2.4c0-1.1-0.5-1.9-1.6-2.3s-3.4-0.9-7-1.4l-7.6-1.3
                    C332.4,77.5,328.3,75.5,325.4,72.5z"/>
                </g>
              </g>
              <g class="circulo-marca">
                <path class="st1" d="M165.3,71.2c0-10.6,8.6-19.1,19.1-19.1s19.1,8.6,19.1,19.1"/>
                <path class="st1" d="M203.5,75.8c0,10.6-8.6,19.1-19.1,19.1s-19.1-8.6-19.1-19.1"/>
              </g>
              </svg>
              <button style="position: absolute; right: 14px;top: 14px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4 px-md-5 pb-5">
              <form>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo electronico</label>
                  <input type="email" placeholder="Correo electronico" class="form-control" id="email">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" placeholder="Contraseña" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4">Registrarse</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <template id="item-lista-reproduccion">
      <li>
        <div class="titulo-cancion__lista-reproduccion"></div>
        <div class="nombre-artista__lista-reproduccion"></div>
        <div class="duracion-cancion__lista-reproduccion"></div>
        <button data-favorito="" class="favorito_lista-reproduccion btn" title="Marcar como favorito"><i class="far fa-heart"></i></button>
      </li>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" 
    integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" 
    crossorigin="anonymous"></script>
    <script type="module" src="..//js/main.js"></script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })

    </script>
  </body>
</html>
