<aside id="menu-lateral" class="menu-lateral">
    <ul>
        <li>
            <a class="item-menu-lateral" href="/" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a class="item-menu-lateral" href="/buscar" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Buscar">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li>
            <a class="item-menu-lateral" href="/favoritas" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Favoritas">
                <i class="fas fa-heart"></i>
            </a>
        </li>
        <li>
            <a class="item-menu-lateral" href="/listas-reproduccion" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Listas de reproducción">
                <i class="fas fa-music"></i>
            </a>
        </li>
        <li>
            <hr class="mx-3">
            <button class="item-menu-lateral" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Ajustes">
                <i aria-current="page" data-bs-toggle="modal" data-bs-target="#ajustes" class="fas fa-cog"></i>
            </button>
        </li>
    </ul>
</aside>