<aside id="menu-lateral" class="menu-lateral">
    <ul>
        <li>
            <a href="/" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li>
            <a href="/buscar" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Buscar">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li>
            <a href="/favoritas" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Favoritas">
                <i class="fas fa-heart"></i>
            </a>
        </li>
        <li>
            <a href="/listas-reproduccion" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Listas de reproducción">
                <i class="fas fa-music"></i>
            </a>
        </li>
        <li>
            <a href="#!" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Amigos">
                <i class="fas fa-user-friends"></i>
            </a>
        </li>
        <li>
            <hr class="mx-3">
            <a href="#!" data-link-menu="" data-bs-toggle="tooltip" data-bs-placement="right" title="Ajustes">
                <i class="fas fa-cog"></i>
            </a>
        </li>
    </ul>
</aside>