<div class="modal modal-apolus fade" id="ajustes" tabindex="-1" aria-labelledby="ajustes" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content shadow-card">
        <div class="modal-header px-lg-5 px-4 pt-4 border-bottom-0">
            <h4>Preferencias</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-lg-5 px-4 pb-5">
          <form>
            <h6>Contenido Explicito</h6>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="exampleCheck1">Permitir la reproducción de contendio explicito</label>
                <input type="checkbox" checked class="form-check-input" id="exampleCheck1">
            </div>
            <hr>
            <h6>Autoplay</h6>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="exampleCheck1">Reproducir autromaticamente canciones similares cuando termine tu musica</label>
                <input type="checkbox" checked class="form-check-input" id="exampleCheck1">
            </div>
            <hr>
            <h6>Visualización</h6>
            <div class="mb-3 form-check">
                <label class="form-check-label" for="exampleCheck1">Mostrar notificaciones de escritorio al cambiar la canción</label>
                <input type="checkbox" checked class="form-check-input" id="exampleCheck1">
            </div>
          </form>
        </div>
      </div>
    </div>
</div>