.shadow-card {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
    border-radius: 8px;
    
    &::before {
        content: "";
        background-color: $gris-light;
        position: absolute;
        bottom: -10px;
        left: -10px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        z-index: -1;
    }
}