.shadow-card {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.39);
    border-radius: 8px;
    position: relative;
    background-color: $white;
    
    &::before {
        content: "";
        background-color: $gris-light;
        position: absolute;
        bottom: -10px;
        left: -10px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        z-index: -1;
    }
}

.categoria-musica-card {
    position: relative;
    transition: 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);
    padding-bottom: 1em;
    
    .titulo-resultado,.tipo-resultado {
        margin: 0;
    }

    .titulo-resultado {
        color: $dark;
        padding: 1em;
        padding-bottom: 0;
    }

    .tipo-resultado {
        color: $gris-dark;
        font-weight: normal;
        padding: 1em;
        padding-top: 0.5em;
        padding-bottom: 0;
        font-size: 0.85rem;
    }

    .img-container {
        overflow: hidden;
        position: relative;
    }

    a {
        text-decoration: none;
        font-weight: 600;
        font-size: 0.93rem;
    }

    img {
        object-fit: cover;
        height: 120px;
        width: 100%;
        border-radius: 9px 9px 0px 0px;
        transition: 0.9s cubic-bezier(0.215, 0.610, 0.355, 1);
    }

    .btn-play {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 2.5rem;
    }



    &:hover  {
        box-shadow: 8px 2px 8px rgba(0, 0, 0, 0.377);
    }

    &:hover img {
        transform: scale(1.1);
        overflow: hidden;
    }
}

.amigos-card {
    padding-top: 1em;

    img {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    p {
        text-align: center;
    }

    &:hover img {
        transform: unset;
    }
}

body.dark  {

    .shadow-card {
        background-color: $dark-light;

        &::before {
          background-color: #222121;
        }
    }

    .categoria-musica-card {
        
        p {
            color: $white;
        }

        .tipo-resultado {
            color: lighten($gris-med, 5)
        }
    }
}


@media(min-width:1600px) {
    .categoria-musica-card {
        img {
            height: 160px;
        }
    }
}

@media(max-width:650px) {

    .categoria-musica-card {

        img {
            height: 90px;
        }

        p {
            font-size: 0.85rem;
        }

        .btn-play {
            font-size: 1.7rem;
            top: 5px;
            right: 5px;
            height: 35px;
            width: 35px;
        }
    }
}