.main-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: min-content;
    height: 100%;
    position: relative;

}

/// Top menu
.top-navbar {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: $light;
    position: fixed;
    width: 100%;
    z-index: 8;
    
    .nav-link {
        font-size: 0.94rem;
    }

    a {
        color: $gris-dark;

        &:hover  {
            color: $primary;
        }
    }

    
    .navbar-brand {

        svg {
            width: 100px;
        }

        .st0{
            fill: $dark;
        }

        .st1{
            fill:none;
            stroke: $secondary;
            stroke-width:17.2795;
            stroke-miterlimit:10;
        }

        .circulo-marca {
            transition: 0.7s ease-in-out;
            transform-origin: center;
        }
        
        .circulo-marca.girar {
            transform: rotate(360deg);
        }
    }

    .navbar-toggler {
        color: $dark-light;
        span {
            font-weight: 600;
            font-size: 0.95rem;
        }
    }

    .buscador-navbar {
        max-width: 500px;
        width: 100%;
    }
    
    .buscador-navbar.movil {
        max-width: 100%;
    }
}

/// Sidebar menu
.menu-lateral {
    grid-column: 1/2;
    height: 100%;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.274);
    position: fixed;
    width: 70px;
    padding-top: 3.5rem;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 3rem;
        text-align: center;

        li {
            margin-bottom: 2.1em;
        }

        .item-menu-lateral, a {
            font-size: 1.3em;
            color: #585858;
            border: 0;
            background-color: transparent;
            padding: 0;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

/// Contenido principal
.main {
    width: 100%;
    max-width: 1820px;
    grid-column: 2/4;
    position: relative;
    padding: 2rem 3.4rem;
    padding-top: 6rem;
    margin: 0 auto;
    z-index: 1;
}


/// Modo Oscuro 
body.dark {
    background-color: $dark-light;

    .main-container {
        background-color: $dark-light;
    }

    .top-navbar, .menu-lateral {
        background-color: $dark;

        a, .item-menu-lateral {
            color: darken( $light,  30);

            &:hover {
                color: $white;
            }
        }

        hr {
            background-color: darken( $light,  30);
        }

    }

    .top-navbar {

        .navbar-brand .st0 {
            fill: $light;
        }

        .navbar-toggler {
            color: $light;

            &:focus {
                box-shadow: unset;
            }
        }
    }

    .menu-offcanvas {
        background-color: $dark;

        #cerrar-offcanvas {
            color: $light;
        }
    }

    .menu-lateral {

        a, .item-menu-lateral {
            color: darken( $light,  30);

            &:hover {
                color: $white;
            }
        }

        .buscador-navbar  {
            
            input {
                border-color: $dark-light;


                &:focus-within button {
                    border-color: $dark-light;
                }

                &:focus {
                    box-shadow: unset;
                    border: 1px solid $dark-light ;
                    border-right: 0;
                }
            }

            button {
                background-color: $light;
                border-color: $dark-light;
            }

        }
    }

    .main {
        background-color: $dark-light;
    }
}



// Media queries 

 @media(max-width:1199px) {
     .top-navbar {

        .buscador-navbar {
            max-width: 360px;
        }
     }
 }

@media(max-width:991px) {
    
    body {
        height: auto;
    }

    .main-container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .top-navbar {
        
        .navbar-brand {
            
            svg {
                width: 95px;
            }
        }
    
        .nav-link {
            font-size: 0.84rem;
            padding: 0.4rem;
        }

    }

    .menu-offcanvas {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 300px;
        width: 100%;
        background-color: $white;
        height: 100vh;
        z-index: 99;
        padding: 1rem;
        transform: translateX(100vh);
        transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

        .cambiar-tema-color {
            position: absolute;
            top: 0px;
            right: 0px;
        }

        ul {
            padding-top: 1rem;
            display: grid;
        }
    }
    
    .menu-offcanvas.desplegar {
        transform: translateX(0%);
    }

    .overlay {
        display: none;
    }

    .overlay.mostrar {
        display: block;
        position: absolute;
        background: #202020e3;
        height: 100vh;
        width: 100%;
        z-index: 98;
        right: 0;
        left: 0;
        top: 0;
    }
    
    .menu-lateral {
        grid-row: 3;
        display: none;
    
        ul {
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            padding: 0.4em;
    
            li {
                margin-bottom: 0;
            }
    
            hr {
                display: none;
            }
        }
    }

    .main {
        padding: 2rem;
        padding-top: 7.8rem;
        grid-column: 1/2;
    }
}

@media(max-width:650px) {

    .main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

